.about {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 150px;
    margin-left: 150px;
}

.about .myname {
    font-family: 'Poppins', sans-serif;
    color: #8B2AF3;
    font-family: 400;
    letter-spacing: 2px;
    margin-left: 2px;
}

.about .name {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 66px;
    font-weight: 600;
    margin-top: -1px;
}

.about .sub-head {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-top: -35px;
}

.about .para-so {

    font-family: 'Poppins', sans-serif;
    color: black;
    margin-top: 40px;
    margin-left: -15px;
    font-family: 400;
    line-height: 1.5
}


.btn-2 {
    border: 2px solid #8B2AF3;
    background: none;
    padding: 12px 22px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 30px;
    margin-left: -30px;
    border-radius: 8px;
    transition: .5s;
    margin-left: 1px;
}

.btng {
    color: #8B2AF3;
}

.btn-2:hover {
    background: #8B2AF3;
}

.btng:hover {
    color: white;
}

@media screen and (max-width: 500px) {
    .about {
        margin-top: 50px;
        margin-left: 15px;
    }
    
    .about .name {
        font-size: 28px;
    }

    .about .sub-head {
        font-size: 18px;
        margin-top: -10px;
        margin-right: 90px;
    }
    .btn-2 {
        margin-top: 10px;
    }
}

