*{
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

nav {
    display: grid;
    grid-template-columns: 10% 45% 35% 10%;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .7s;
    z-index: 10;
}

nav.sticky {
    margin-top: -15px;
    padding: -5px;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    height: 100px;
    transition: .7s;
}

.logo {
}

.logo > img{
    height: 55px;
    padding: 2em;
    margin-left: 20px;
    margin-top: -2px;
    border-radius: 50%;
}


.free-space {
    content: '';
   
}

.menu-tab {
}


.menu-tab ul{
    display: flex;
    padding: 2em;
}


.menu-tab ul li {
    display: inline-block;
}

.menu-tab ul li a{
    position: relative;
    text-decoration: none;
    margin: 0 22px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 5px;
}

.menu-tab ul li a:after {
    content: '';
    position: absolute;
    background-color: #3498db;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;
}

.menu-tab ul li a:hover {
    color:#3498db;
}

.menu-tab ul li a:hover:after {
    width:100%;
}

.btn {
    border: 2px solid #8B2AF3;
    background: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 34px;
    margin-left: -30px;
    border-radius: 8px;
    transition: .5s;
}

.btnr{
    color: #8B2AF3;
}

.btnr:hover {
    background: #8B2AF3;
}

.btnr:hover {
    color: white;
}

/*Responsive*/

@media (max-width:768px) {
    
}
